{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "node": "12.16.3"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/transform-flow-strip-types"
  ]
}
